<div class="form-group">
    <label for="geminiApiKey">{{localize "FVTT_AI_NPC_GENERATOR.Settings.GeminiAPIKey.Name"}}</label>
    <input type="text" name="geminiApiKey" id="geminiApiKey" value="{{geminiApiKey}}" placeholder="{{localize "FVTT_AI_NPC_GENERATOR.Settings.GeminiAPIKey.Hint"}}">
</div>

<div class="form-group">
    <label for="openAiApiKey">{{localize "FVTT_AI_NPC_GENERATOR.Settings.OpenAIAPIKey.Name"}}</label>
    <input type="text" name="openAiApiKey" id="openAiApiKey" value="{{openAiApiKey}}" placeholder="{{localize "FVTT_AI_NPC_GENERATOR.Settings.OpenAIAPIKey.Hint"}}">
</div>
